
/* Makes map 100% of the site size, if page size is changed */

#map {
        height: 100%;
    }


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
    
#description {
    font-family: Lato;
    font-size: 15px;
    font-weight: 300;
}



/* Creates fixed blue header, sticky to the top of the page.*/

#header {
    background-color: darkblue;
    font-family: Lato;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    box-shadow: 5px 5px 5px grey;
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
}


#header #header-content {
    margin: 10px;
}


#header #header-content {
    margin: 10px;
}


#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    padding-top: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Lato;
}

/* Spacing so it's not right on the edges of the banner */

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display:inline-flex;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
}


/* Input bar sizing and coordination */

#pac-input {
    background-color: #fff;
    background-image: url(img/search-glass.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 5px;    
    font-family: Lato;
    font-size: 15px;
    margin-left: 12px;
    margin-right: 12px;

    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    height: 50px;
}

#pac-input:focus {
border-color: #4d90fe;
}

#title {
color: #fff;
background-color: #4d90fe;
font-size: 25px;
font-weight: 500;
padding: 6px 12px;
}
#target {
width: 345px;
}


